@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
margin: 0 auto;
width: 1440px;
font-family: "Lato", sans-serif;
}

main{
    width: 100%;
    justify-content: center;
}


.header{
    display: flex;
    justify-content: space-between;
    padding: 12.5px 80px 12.5px 60px;
    width: 100%;
}

.header-image{
    width: 130px;
    height: 58px;
}

.nav-img{
    display: none;
} 
  
.nav{
    display: flex;
    width: 361px;
    height: 24px;
    gap: 40px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

nav{
    padding: 17px 0px;
}



.hero_section{
    background-image: url(images/Image\ \(1\).png);
    height: 767px;
    width: 100%;
    margin-bottom: 170px;
}

.hero-article{
    width: 493px;
    height: 336px;
    border-radius: 0px 60px 60px 0px;
    background-color: #ffffff;
    padding: 60px 88px 60px 80px;
    margin: 140px 947px 291px 0px;
    float: left;
}

.hero-article1{
    width: 325px;
    height: 216px;
}

.hero-article1 h1{
    height: 120px;
    font-weight: 700;
    font-size: 52px;
    line-height: 60px;
    margin-bottom: 24px;
}

.hero-article1 p{
    width: 325px;
    height: 72px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}


.future-section{
    width: 100%;
}

.grid-container{
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
    height: 378px;  
    margin-bottom: 140px; 
}

.grid_1_left {
    display: grid;
    grid-template-columns: repeat(2, 0.1fr);
    max-width: 100%;
}

.grid-1-right{
    background-color: #F2F0F2;
    border-radius: 0 60px 60px 0;
}

.grid-1-right2{
    margin: 120px 80px;
}

.grid-1-right2 h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    margin-bottom: 24px;
}

.grid-1-right2 p{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: inherit;
}

.grid-1{
    height: 189px;
}



.feat-sect{
    margin-bottom: 140px;
    width: 1440px;
}

article{
    padding: 0px 296.5px 60px 296.5px;
    text-align: center;
}

article h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    margin-bottom: 16px;
}

article p{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.grid_feat_sect{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-left: 80px;
    margin-right: 80px;
}

.grid-2 {
    background-color:#E2F1E8;
    border-radius:30px;
    Padding:32px 40px 32px 40px;
    Gap:16px;
}

.grid-2 img{
    margin-bottom: 16px;
}

.grid-2 h4{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
}

.grid-2 p{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.icon{
    width: 60px;
    height: 60px;
}

@media(max-width:768px){
    
    body{
        width:768px;
    }

    .nav li{
        display: none;
    }

    .header i{
        display: flex;
    }

    .header{
        display: flex;
        justify-content: space-between;
        padding: 12.5px 80px 12.5px 60px;
        width: 100%;
    }

    .nav-img{
        display: flex;    
    } 



    .hero_section{
        background-image: url(images/Image\ \(1\).png);
        background-repeat: no-repeat;
        background-position:50%;
        width: 100%;
        margin-bottom: 150px;
    } 

    .hero-article{
        width: 493px;
        height: 336px;
        border-radius: 0px 60px 60px 0px;
        background-color: #ffffff;
        padding: 60px 88px 60px 80px;
        margin: 140px 947px 291px 0px;
        float: left;
    }
    .future-section{
        width: 100%;
    }
    .grid-container{
        display:flex;
        flex-direction: column;
        margin-bottom:350px;
    }

    .grid_1_left {
        display: grid;
        grid-template-columns: repeat(2, 0.1fr);
        border-radius: 60px 0 0 0;
        width: 100%;
    }

    .grid-1{
        height: 8.5937em;
        object-fit: contain;
    }

    .grid-1 img{
        width:18.96em; 
    }

    .img-2{
        border-radius: 0 3rem 0 0;
    }
    
    .grid-1-right{
        background-color: #F2F0F2;
        border-radius: 0 0px 60px 60px;
        width: 100%;
    }
    .grid-1-right2{
        margin: 70px 40px;
    }

    .grid-1-right2 h1{
        font-weight: 700;
        font-size: 48px;
        line-height: 54px;
        margin-bottom: 24px;
        text-align: center;
    }

    .grid-1-right2 p{
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
    }



    .feat-sect{
        margin-bottom: 140px;
        width: 100%;
    }

    article{
        padding: 0px 100px 60px 100px;
        text-align: center;
    }
    
    article h2{
        font-weight: 700;
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 16px;
    }

    article p{
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
    }
    
    .grid_feat_sect{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin-left: 80px;
        margin-right: 80px;
    }
    .grid-2 {
        background-color:#E2F1E8;
        border-radius:30px;
        Padding:32px 40px 32px 40px;
        Gap:16px;
    }

    .grid-2 img{
        margin-bottom: 16px;
    }

    .grid-2 h4{
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 16px;
    }

    .grid-2 p{
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }
    
    .icon{
        width: 60px;
        height: 60px;
    }
}




@media(max-width:375px){

    body{
        width: 375px;
    }

    header{
        width: 100%;
    }
     
    .header{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 10px 20px 0px 0px;

    }
    
    nav{
        display: none;
    }



    .hero_section{
        background-image: url(images/Image\ \(1\).png);
        background-repeat: no-repeat;
        background-position:65% 10px;
        width: 375px;
        height: 748px;
    } 
    
    .hero-article{
        width: 360px;
        height: 232px;
        border-radius: 0px 40px 40px 0px;
        background-color: #ffffff;
        padding: 32px;
        margin: 20px 15px 496px 0px;
        float: left;
    }

    .hero-article1{
        width: 296px;
        height: 168px;
    }

    .hero-article1 h1{
        height: 92px;
        font-weight: 700;
        font-size: 40px;
        line-height: 46px;
        margin-bottom: 16px;
    }

    .hero-article1 p{
        width: 296px;
        height: 60px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }

   

    .grid-container{
        display:flex;
        flex-direction: column;
        margin-bottom:350px; 
        width:90%;
        padding: 0px;
        margin: 0 auto;
    }

    .grid_1_left {
        display: grid;
        grid-template-columns: repeat(2, 0.1fr);
        border-radius: 60px 0 0 0;
        width: 100%;
    }

    .grid-1{
        height: 4.5em;
        object-fit: contain;
    }

    .grid-1 img{
        object-fit:fill;
        width:10.5em; 
    }

    .img-2{
        border-radius: 0 1.7rem 0 0;
    }
    
    .grid-1-right{
        background-color: #F2F0F2;
        border-radius: 0 0px 1.7rem 1.7rem;
        width: 100%;
    }

    .grid-1-right2{
        margin: 1.5em;
    }

    .grid-1-right2 h1{
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 12px;
        text-align: center;
    }

    .grid-1-right2 p{
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }



    .feat-sect{
        margin-bottom: 140px;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 50px; 
    }

    article{
        padding: 0px;
        text-align: center;
        width: 100%;
        margin: 40px auto;
    }
    
    article h2{
        font-weight: 700;
        font-size: 26px;
        line-height:33px;
        margin-bottom: 16px;
    }

    article p{
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
    }
    
    .grid_feat_sect{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        width:100%;
        margin: 0 auto;
    }

    .grid-2 {
        background-color:#E2F1E8;
        border-radius:30px;
        Padding:30px 38px 30px 38px;
        Gap:16px;
    }

    .grid-2 img{
        margin-bottom: 14px;
    }

    .grid-2 h4{
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 10px;
    }

    .grid-2 p{
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
    }

    .grid-2 p br{
        display: none;
    }
    
    .icon{
        width: 40px;
        height: 40px;
    }

}
